aiohttp==3.8.1
aioredis==2.0.1
aiosignal==1.2.0
amqp==5.1.1
anyio==3.6.1
arrow==1.2.2
asgiref==3.5.2
async-timeout==4.0.2
attrs==21.4.0
backoff==2.0.1
billiard==3.6.4.0
black==22.3.0
CacheControl==0.12.11
celery==5.2.7
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
fastapi==0.78.0
frozenlist==1.3.0
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.3
inflection==0.5.1
Jinja2==3.1.2
kombu==5.2.4
loguru==0.6.0
MarkupSafe==2.1.1
motor==3.0.0
msgpack==1.0.3
multidict==6.0.2
mypy-extensions==0.4.3
nanoid==2.0.0
odmantic==0.5.0
pathspec==0.9.0
platformdirs==2.5.2
prisma==0.6.6
prompt-toolkit==3.0.29
pydantic==1.9.1
pyfy==2.2.0
pymongo==4.1.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
requests==2.27.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.37
sqlalchemy2-stubs==0.0.2a22
sqlmodel==0.0.6
starlette==0.19.1
tomli==2.0.1
typing_extensions==4.2.0
urllib3==1.26.9
uvicorn==0.17.6
vine==5.0.0
wcwidth==0.2.5
yarl==1.7.2
